<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>AboutProduct</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/Style.css" />
</head>
<body>
<div th:replace="fragments/header :: header()"></div>
<div style="display:flex; flex-direction:column">
  <div>
    <div style="display:flex;flex-direction:row">
      <img class="Image" src="" />
      <div style="display:flex; flex-direction:column">
        <h3 th:text="${product.name}"></h3>
        <p th:text="'Price: ' + ${product.price} + '/$'"></p>
      </div>
    </div>

    <span th:text="''+${product.description}"></span>
    <form th:action="@{/cart/addToCart}" method="post">
      <input type="hidden" name="id" th:value="${product.id}"/>
      <input type="hidden" name="returnUrl" th:value="${returnUrl}"/>
      <span class="lead">
        <button type="submit" class="btn btn-success btn-sm pull-right">
          Add to Cart
        </button>
      </span>
    </form>
  </div>

  <form th:action="@{/product/addReview}" method="post">
    <div>
      <input type="hidden" name="productId" th:value="${product.id}"/>
      <label for="reviewText">Enter Review</label>
      <input type="text" id="reviewText" name="reviewText" placeholder="Write your review here..." />
      <button type="submit" class="btn btn-primary">Add Review</button>
    </div>

  </form>

  <div th:each="review : ${ product.getReviews()}">
    <div>
      <span th:text="${review.reviewText}"></span>
    </div>
  </div>
</div>
</body>
</html>
