<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
</head>
<body>
<div>
    <div th:replace="fragments/header :: header()"></div>
    <div class="ProductDisplaying">
        <th:block th:each="product : ${productsVM.products}">
            <div th:include="::productFragment"></div>
        </th:block>
    </div>

    <div th:if="${productsVM.pagingInfo.totalItems > productsVM.pagingInfo.itemsPerPage}">
        <div th:fragment="paginationFragment"
             th:page="${productsVM.pagingInfo.currentPage}"
             th:totalPages="${productsVM.pagingInfo.totalPages}"
             th:classAppend="btn">
        </div>
    </div>
</div>
</body>
</html>
